body {
    font-family: sans-serif;
    color: #FFFFFF
    text-align: center;
    padding: 50px;
}

header h1 {
    font-size: 3rem;
    color: #FDFD96
}

.boton-git {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.boton-git:hover {
    background-color: #388e3c;
}
